#header {
  position:relative;
  display: block;
  background-color: transparent;;
  width: 100%auto;
  height:100px;
}

#left_block {
  position: relative;
  float: left;
  display: block;
  background-color: red;
  width: 33%auto;
  height:100px;
}

#middle_block {
  position: relative;
  float: left;
  display: block;
  background-color: red;
  width: 33%auto;
  height:100px;

}

#right_block {
  position: relative;
  float: left;
  display: block;
  background-color: red;
  width:33%auto;
  height: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
  background-color:	#FF0000;
}

img{
  float:left;
  margin-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	margin-left:20px;

}
